.section-about {
  height: 40vh;
  // background-color: darkblue;
}

.section-recognition {
  height: 40vh;
  // background-color: orangered;
}

.section-menu {
  height: 40vh;
  // background-color: cyan;
}