/* Base */
$primary-color: #2A2642;

/* Background and Panels */
$hero-bg-color: linear-gradient(#F13E38, #E67538);

/* Fonts */
$primary-font: 'Mitr', sans-serif;
$body-font: 'Montserrat', sans-serif;
$primary-font-color: #FFFFFF;
$primary-font-color-h3: #FFD092;
$secondary-font-color: #FFF;