/* Base */
$primary-color: #2A2642;

/* Background and Panels */
$hero-bg-color: #FFF6E7;

/* Fonts */
$primary-font: 'Cinzel', serif;
$body-font: 'Montserrat', sans-serif;
$primary-font-color: #393E41;
$primary-font-color-h3: #FFD092;
$secondary-font-color: #393E41;