/* Base */
$primary-color: #2A2642;

/* Background and Panels */
$hero-bg-color: #EFEDE6;
$primary-bg-color: #2A2642;
$primary-bg-color-2: #82E6D3;
$secondary-bg-color: #EFEDE6;

/* Fonts */
$heading-font: 'Mitr', sans-serif;
$body-font: 'Montserrat', sans-serif;
$primary-font-color: #2A2642;
$primary-font-color-h: #3D3953;
$secondary-font-color: #FFF;